@media screen and (min-width: 40em) {

  .ng-template-outlet-container {
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
    overflow-y: auto;
  }

}

.ability-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.ability {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-card-header-full {
  display: flex;
  justify-content: center;
}

