.ability-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.ability {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-card-header-full {
  display: flex;
  justify-content: center;
}

