/*.hero-card {*/
  /*flex: 0 1 20%;*/
  /*margin: 1rem 1rem 1rem 1rem;*/
/*}*/

@media screen and (min-width: 40em) {

  .hero-card {
    min-width: 21rem;
    max-width: 22rem;
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {

  .hero-card {
    min-width: 21rem;
    max-width: 22rem;
    flex: 0 1 calc(25% - 1em);
  }
}

