.jedi-form {
  margin-left: 10%;
  max-width: 30%;
}

.jedi-form > mat-form-field {
  margin-top: 1rem;
  width: 100%;
}

.jedi-form > button {
  margin-top: 2rem;
}

.saber-radio-group {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.saber-radio-button {
  margin: 5px;
}
