<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" [@datatableRowsAnim]="">

    <!-- Cannot be a separate component because if I bind [matColumnDef]="'select'"
         then I get error message that 'select' column does not exist. If I use
         matColumnDef="select" then I get error message that I do not specify a header-cell for the column-->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let member">{{member.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="frontend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Frontend</mat-header-cell>
      <mat-cell *matCellDef="let member">{{member.frontend}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="backend">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Backend</mat-header-cell>
      <mat-cell *matCellDef="let member">{{member.backend}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="teamwork">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Teamwork</mat-header-cell>
      <mat-cell *matCellDef="let member">{{member.teamwork}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 (page)="onPageEvent($event)"
                 [length]="dataSource.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 15]">
  </mat-paginator>
</div>
