.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-drawer-content {
  overflow: hidden;
}

mat-sidenav-content {
  height: 100%;
}

.router-outlet-content {
  height: 100%;
}
