<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)?.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)?.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/reactive-forms']">Reactive forms</a>
      <a mat-list-item [routerLink]="['/dashboard-example']">Ngrx entity dashboard</a>
      <a mat-list-item [routerLink]="['/ng-template-outlet']">NgTemplateOutlet</a>
      <a mat-list-item [routerLink]="['/ng-component-outlet']">NgComponentOutlet(In progress)</a>
      <a mat-list-item [routerLink]="['/angular-elements']">Angular Elements</a>
      <!--https://medium.com/@luukgruijs/understanding-rxjs-behaviorsubject-replaysubject-and-asyncsubject-8cc061f1cfc0-->
      <a mat-list-item [routerLink]="['/subject-types']">Subjects(future)</a>
      <a mat-list-item [routerLink]="['/observables']">Observables(future)</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)?.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular examples</span>
    </mat-toolbar>

    <div class="router-outlet-content" [@routerTransition]="detectRoutingState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
