<p class="cd-description">This demo shows how change detection is performed for each
    component after every VM turn.
  <br>All components should light up when:
</p>


<ol class="list">
    <li>The app is bootstrapped (reload browser to double-check)</li>
    <li>The "Trigger CD" button is clicked</li>
</ol>

<div>
    <button mat-raised-button color="warn"
            class="trigger-cd-button"
            (click)="null">Trigger Change Detection</button>
</div>

<cmp-one class="component-button"></cmp-one>

