/* You can add global styles to this file, and also import other style files */
//I can import it here or declare it in angular.json
//@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Zorque';
  src: url('./assets/fonts/zorque.ttf') format('truetype');
}
