.sweet-home {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 4rem;
}
